.popup__profile-profession {
  width: 100%;
  margin-bottom: 48px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 0 0 13px;
  color: #000000;
}

@media screen and (max-width: 767px) {
  .popup__profile-profession {
    margin-bottom: 45px;
  }
}
