.popup__window {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 510px;
  height: 410px;
  color: #000000;
}

@media screen and (max-width: 767px) {
  .popup__window {
    width: 282px;
    height: 394px;
    /* margin: 0 auto; */
  }
}
